# Copyright (c) .NET Foundation and Contributors
# Portions Copyright (c) Sankarsan Kampa (a.k.a. k3rn31p4nic).  All rights reserved.
# See LICENSE file in the project root for full license information.

parameters:
  skipNuGetRestore: false
  gitUser: 'nfbot'
  gitEmail: 'nanoframework@outlook.com'
  sonarCloudProject: 'dummy-key'
  nugetConfigPath: 'NuGet.config'
  runUnitTests: false
  unitTestRunsettings: 'DIDNT_GET_ONE_FROM_THE_CALLER'

steps:
# need this here in order to persist GitHub credentials 
- checkout: self
  submodules: true

- script: |
    git config --global user.email ${{ parameters.gitEmail }}
    git config --global user.name ${{ parameters.gitUser }}
    git config --global core.autocrlf true
  displayName: Setup git identity

# get commit details
- template: get-commit-details.yml

- template: file-checks.yml

- template: install-nbgv-tool.yml

- template: prepare-release.yml

- task: SonarCloudPrepare@1
  condition: >-
    and(
      succeeded(),
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: 'Prepare analysis on SonarCloud'
  inputs:
    SonarCloud: 'sonarcloud-$(System.TeamProject)'
    organization: 'nanoframework'
    scannerMode: 'MSBuild'
    projectKey: '${{ parameters.sonarCloudProject }}'
    extraProperties: |
     sonar.exclusions=**/obj/**,**/*.dll
     sonar.cs.vscoveragexml.reportsPaths=$(Agent.TempDirectory)/**/**.coverage
     sonar.cs.vstest.reportsPaths=$(Agent.TempDirectory)/**/**.trx

- task: InstallnFBuildComponents@1
  condition: >-
    and(
      succeeded(),
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: Install .NET nanoFramework MSBuild components
  env:
    GITHUB_TOKEN: $(GitHubToken)

- template: install-nuget.yml

- task: NuGetCommand@2
  condition: >-
    and(
      succeeded(),
      not(${{ parameters.skipNuGetRestore }}),
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: NuGet restore
  inputs:
    restoreSolution: '**/*.sln'
    feedsToUse: config
    nugetConfigPath: ${{ parameters.nugetConfigPath }}

- template: versions-check.yml

- task: VSBuild@1
  condition: >-
    and(
      succeeded(),
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    msbuildArgs: '/p:PublicRelease=true'
    configuration: '$(buildConfiguration)'
    msbuildArchitecture: 'x64'

- task: VisualStudioTestPlatformInstaller@1
  condition: >-
    and(
      succeeded(),
      ${{ parameters.runUnitTests }},
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: 'Visual Studio Test Platform Installer'
  inputs:
    versionSelector: latestStable

- task: VSTest@2
  condition: >-
    and(
      succeeded(),
      ${{ parameters.runUnitTests }},
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: 'Running Unit Tests'
  continueOnError: false
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\NFUnitTest.dll
      **\*Tests*.dll
      !**\obj\**
      !**\TestAdapter\**
      !**\NFUnitTest_DummyAdapter\**
      !**\nanoFramework.TestFramework\**
    searchFolder: '$(System.DefaultWorkingDirectory)'
    platform: '$(BuildPlatform)'
    configuration: '$(BuildConfiguration)'
    diagnosticsEnabled: true
    vsTestVersion: toolsInstaller
    codeCoverageEnabled: true
    runSettingsFile: '${{ parameters.unitTestRunsettings }}'

- task: PowerShell@2
  condition: >-
    and(
      succeeded(),
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: Get AssemblyNativeVersion version
  inputs:
    targetType: 'inline'
    script: |

      $assemblyInfoFiles = (Get-ChildItem -Path ".\*" -Include "AssemblyInfo.cs" -Recurse)

      $attributeRegex = [regex]::new('("AssemblyNativeVersion\(")|(\d+\.\d+\.\d+\.\d+)|(""\))')

      # read attribute from file
      $fileContent = Get-Content($assemblyInfoFiles[0])

      $attrib = $attributeRegex.Match($fileContent) 

      $nativeVersion = $attrib.Groups[2].value

      Write-Host "AssemblyNativeVersion is $nativeVersion"

      Write-Host "$("##vso[task.setvariable variable=NF_ASSEMBLY_NATIVE_VERSION]")$nativeVersion"

- powershell: |
    # get subject and commit message for commit
    $commitMessage = git log --format='%B' -1

    # need to flatten message by removing new lines
    $commitMessage = $commitMessage -replace "`r`n", " "

    if($commitMessage -like "*PUBLISH_RELEASE*")
    {
        # set variable
        Write-Host "$("##vso[task.setvariable variable=RELEASE_DRAFT;isOutput=true]")false"
        Write-Host "$("##vso[task.setvariable variable=RELEASE_VERSION;isOutput=true]")true"
        Write-Host "Release draft: FALSE"
    }
    else
    {
        # set variable
        Write-Host "$("##vso[task.setvariable variable=RELEASE_DRAFT;isOutput=true]")true"
        Write-Host "$("##vso[task.setvariable variable=RELEASE_VERSION;isOutput=true]")false"
        Write-Host "Release draft: TRUE"
    }
  name: SetReleaseDraftVar
  condition: >-
    and(
      succeeded(),
      eq(variables['StartReleaseCandidate'], false)
    )
  displayName: Set release draft var

- task: SonarCloudAnalyze@1
  condition: >-
    and(
      succeeded(),
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: 'Run Code Analysis'

- task: SonarCloudPublish@1
  condition: >-
    and(
      succeeded(),
      eq(variables['StartReleaseCandidate'], false),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    )
  displayName: 'Publish Quality Gate Result'
  inputs:
    pollingTimeoutSec: '300'

- task: UseRubyVersion@0
  condition: >-
    and(
      succeeded(),
      eq(variables['System.PullRequest.PullRequestId'], ''),
      eq(variables['StartReleaseCandidate'], false)
    )
  displayName: Setup Ruby
  inputs:
    versionSpec: '= 3.0' 
    addToPath: true

# generate change log
- powershell: |
    gem install github_changelog_generator --quiet --no-document
    # need to call it passing both cache options with full path otherwise it won't work
    github_changelog_generator --token $(GitHubToken) --cache-log  $env:AGENT_TEMPDIRECTORY\github-changelog-logger.log --cache-file $env:AGENT_TEMPDIRECTORY\github-changelog-http-cache --pr-wo-labels
  condition: >-
    and(
      succeeded(),
      or(
        eq(variables['SetReleaseDraftVar.RELEASE_VERSION'], 'True'),
        and(
          eq(variables['System.PullRequest.PullRequestId'], ''),
          not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v')),
          startsWith(variables['Build.SourceBranchName'], 'main'),
          not(contains(variables['Build.SourceBranchName'], 'update-dependencies'))
        )
      ),
      eq(variables['StartReleaseCandidate'], false)
    )
  displayName: Generate change log
  continueOnError: true

# copy change log to artifacts directory
- task: CopyFiles@2
  condition: >-
    and(
      succeeded(),
      eq(variables['System.PullRequest.PullRequestId'], ''),
      not(contains(variables['Build.SourceBranchName'], 'update-dependencies')),
      eq(variables['StartReleaseCandidate'], false)
    )
  displayName: Copy Changelog
  continueOnError: true
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: 'CHANGELOG.md'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# push new changelog to GitHub repo
- task: PowerShell@2
  condition: >-
    and(
      succeeded(),
      eq(variables['System.PullRequest.PullRequestId'], ''),
      not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v')),
      not(contains(variables['Build.SourceBranchName'], 'update-dependencies')),
      eq(variables['StartReleaseCandidate'], false)
    )
  displayName: Push changelog to GitHub
  continueOnError: true
  inputs:
    targetType: 'inline'
    script: |
      git add CHANGELOG.md
      git commit -m "Update CHANGELOG for v$(MY_NUGET_VERSION)" -m"***NO_CI***"

      git config user.email ${{ parameters.gitEmail }}
      git config user.name ${{ parameters.gitUser }}
      
      # compute authorization header in format "AUTHORIZATION: basic 'encoded token'"
      # 'encoded token' is the Base64 of the string "nfbot:personal-token"
      $auth = "basic $([System.Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes("nfbot:$(GitHubToken)"))))"

      git -c http.extraheader="AUTHORIZATION: $auth" push origin "HEAD:$(Build.SourceBranchName)"

- task: CopyFiles@1
  condition: and(succeeded(), eq(variables['StartReleaseCandidate'], false))
  displayName: Collecting CHANGELOG for artifacts
  inputs:
    sourceFolder: $(Build.SourcesDirectory)
    Contents: |
      **\CHANGELOG.md
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    flattenFolders: true
