<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- ********************************** -->
		<!-- ESP32 / ESP8266 tool configuration -->
		<!-- ********************************** -->
		<!-- default ESP chip type; ESP32 and ESP8266 are allowed -->
		<!--<add key="DefaultEspChipType" value="ESP32"/>-->
		<!--<add key="DefaultEspChipType" value="ESP8266"/>-->
		<!-- default serial port if nothing is delivered via command line argument -->
		<!--<add key="DefaultSerialPort" value="COM1"/>-->
		<!-- default baudrate for the serial port if nothing is delivered via command line argument -->
		<!--<add key="DefaultBaudRate" value="921600"/>-->
		<!-- default flash mode if nothing is delivered via command line argument -->
		<!-- See https://github.com/espressif/esptool#flash-modes for more details -->
		<!--<add key="DefaultFlashMode" value="dio"/>-->
		<!-- default flash frequency if nothing is delivered via command line argument -->
		<!-- See https://github.com/espressif/esptool#flash-modes for more details -->
		<!--<add key="DefaultFlashFrequency" value="40m"/>-->

		<!-- ******************************* -->
		<!-- Firmware download configuration -->
		<!-- ******************************* -->
		<!-- default firmware type -->
		<!--<add key="DefaultFirmwareType" value="nanoClr"/>-->
		<!--<add key="DefaultFirmwareType" value="WifiWaterLevelGauge"/>-->
		<!-- default download location on bintray.com -->
		<!--<add key="DefaultDownloadSource" value="https://bintray.com/nfbot/nanoframework-images-dev"/>-->
		<!--<add key="DefaultDownloadSource" value="https://github.com/MatthiasJentsch/WifiWaterLevelGauge"/>-->
		<!-- default board type for the firmware download -->
		<!--<add key="DefaultBoardType" value="ESP32_WROOM_32"/>-->
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>