# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
packages/
*.suo
*.user
NanoFramework-GitHubBot - Web Deploy.pubxml

# AzureDevOps tasks
*.vsix
*.zip

# VS Code
.vscode
/NuGet.Config
AzureDevOps/TaskInstallMSBuildComponents/node_modules
AzureDevOps/TaskUpdateNativeAssemblyDeclaration/node_modules
*launchSettings.json
**/Properties/launchSettings.json
