<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nanoframework-githubbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5d73d71b-005b-4784-b8c1-6e500452627a/resourceGroups/NanoFramework/providers/Microsoft.Web/sites/NanoFramework-GitHubBot</ResourceId>
    <UserName>$NanoFramework-GitHubBot</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://nanoframework-githubbot.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>