# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.
name: Keeping repository active

on:
  workflow_call:

jobs:
  push_empty_commit :
    name: push empty commit
    timeout-minutes: 2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
          
      - name: Dummy commit
        run: |
          git config user.email "nanoframework@outlook.com"
          git config user.name "nfbot"
          git checkout -b dummy-branch
          git commit --allow-empty --message "[Chore] empty commit`r`n[skip ci]`r`n***NO_CI***"
          git push origin dummy-branch
          git push origin --delete dummy-branch
        
        shell: pwsh
