# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.

name: Checks for .NET nanoFramework NuGet updates

on:
  workflow_call:
    inputs:
      solutionsToCheck:
        required: false
        type: string
      workingDirectory:
        required: false
        type: string
      exclusionList:
        required: false
        type: string
      branchToPr:
        required: false
        type: string
      nugetConfig:
        required: false
        type: string
      repoOwner:
        required: false
        type: string
      timeout-minutes:
        required: false
        default: 15
        type: number
      previewPackages:
        required: false
        default: false
        type: boolean
    secrets:
      githubAuth:
        required: false

defaults:
  run:
    shell: pwsh

jobs:
  update-nanoframework-nugets:
    name: Update .NET nanoFramework NuGet packages
    timeout-minutes: ${{ inputs.timeout-minutes }}
    runs-on: windows-2022

    env:
      GITHUB_TOKEN: ${{ github.token }}
      GITHUB_AUTH_TOKEN: ${{ secrets.NANOBUILD_PAT }}
      GITHUB_AUTH: ${{ secrets.NFBOT_GITHUB_ACTIONS }}

    steps:
      - uses: actions/checkout@v5
        with:
          path: '${{ github.workspace }}/${{ inputs.workingDirectory }}'
          ref: ${{ inputs.branchToPr }}

      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - uses: nanoframework/nanobuild@v1
        env:
          USE_PREVIEW: ${{ inputs.previewPackages }}

      - uses: nuget/setup-nuget@v2

      - uses: nanoframework/nanodu@v1
        with:
          solutionsToCheck: ${{ inputs.solutionsToCheck }}
          workingDirectory: '${{ github.workspace }}/${{ inputs.workingDirectory }}'
          exclusionList: ${{ inputs.exclusionList }}
          branchToPr: ${{ inputs.branchToPr }}
          nugetConfig: '${{ inputs.nugetConfig }}'
          githubAuth: ${{ env.GITHUB_AUTH }}
          repoOwner: ${{ inputs.repoOwner }}
          previewPackages: ${{ inputs.previewPackages }}
          stablePackages: ${{ !(inputs.previewPackages) }}
